.body{
    width: 100%;
    height: 100%;
    margin:0;
}
.wrapper{
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:auto;
}
.form-wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    box-sizing: border-box;
    padding: 2em;
}

.input-element{
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

.text-box{
    
}

.submit-btn{
    display: flex;
    align-self: center;
    padding:2em;
}